* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 60.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-text {
  padding-top: 5rem;
  text-align: center;
}

.content-text_heading {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 200;
  color: #3f3f3f;
}

.content-text_body {
  font-size: 1.8rem;
  color: gray;
  max-width: 620px;
  width: 100%;
  padding: 1rem 0 3rem 0;
}

.content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  position: relative;
  padding: 3rem;
  margin: 2rem;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 5px;
  width: 100%;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-content-heading {
  font-size: 2.5rem;
}

.card-content-body {
  font-size: 1.8rem;
  padding: 1rem 0 5rem 0;
  color: gray;
  max-width: 350px;
  width: 80%;
}

.card-content-icon {
  text-align: right;
}

.card-content-icon img {
  width: 8rem;
}

.card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.bold {
  font-weight: 700 !important;
}

/* Colors for top bar of cards*/
.green {
  background-color: #45d3d3;
}

.blue {
  background-color: #549ef2;
}

.red {
  background-color: #ea5353;
}

.gold {
  background-color: #fcaf4a;
}

@media only screen and (max-width: 958px) {
  html {
    font-size: 50%;
  }
  .content-text {
    padding: 2rem 1rem 3rem 1rem;
  }
  .content-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-cards_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 525px) {
  .content-text {
    width: 90%;
  }
  .content-cards {
    width: 100%;
    padding: 2rem 0;
  }
  .content-cards > * {
    width: 100%;
  }
  .card {
    margin: 2rem auto;
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */